@import "../colors.scss";

.header {
    padding-top: 20px;
    &__content {
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 20px;
        background: #fff;
        border-radius: 3px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin: 0 12px;
    
        &:first-child {
            margin-left: 0;
        }

        &-last {
            width: 60px;
            height: 60px;
            background: #F3F7FA;
            border-radius: 50%;
            margin-left: 60px;
        }
    }
    
    &__link {
        color: $link-color;
        font-size: 16px;
    }
}

@media(max-width: 657px) {
    .header__item-last {
        display: none;
    }
}

@media(max-width: 500px) {
    .header__link {
        font-size: 12px;
    }
    .header__item {
        margin: 0 6px;
    }
}


@media(max-width: 400px) {
    .header__link {
        display: none;
    }
}